
nav {
    text-align: right;
    padding: 1em 2em;
    width: 100%;
    background-color: #5c415d;
    color: #fff;
}

nav a {
    margin-left: 10px;
    color: #fff;
}

nav a:hover {
    color: #fffc5a;
}

.container {
    padding: 1em 2em;
}

.content {
    max-width: 850px;
    margin: 0 auto;
}

.flash-message {
    margin: 0;
    list-style-type: none;
    padding: 10px;
    background-color: #fffc5a;
    text-align: center;
}

h1, h2, h4, h5, h6 {
    padding: 10px 0;
}

h3 {
    padding-top: 12px;
    padding-bottom: 6px;
}

input[type='submit'] {
    display: inline-block;
    margin-top: 10px;
    background-color: #5c415d;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: none;
    border: none;
    letter-spacing: 0.5px;
    color: #fff;
}

input[type='checkbox'] {
    margin: 0 8px 2px 6px;
}

#cat_sel {
    margin-top: 20px;
}

input[type='submit']:hover,
input[type='submit']:focus,
input[type='submit']:active {
    background-color: #fffc5a;
    color: #000;

}

.dice {
    display: inline-block;
}

.dice:not(:first-child) {
    margin-left: 20px;
}

.dice-choose:not(:first-child) {
    margin-left: 30px;
}

.dice-number-result {
    display: inline-block;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    padding: 3px 4px 6px 8px;
    margin-left: 5px;
    background-color: #5c415d;
    color: #fff;

}

.select-dice {
    display: inline-block;
    margin: 15px 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #0a1541;
}

table {
    margin-bottom: 10px;
}

tfoot, .foot {
    border: none;
}

td, th {
    padding: 5px;
    text-align: center;
}

thead {
    font-weight: bold;
}

.total {
    text-align: right;
}

form {
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #fef5ef;
    text-align: center;
}


a {
    color: #5c415d;
    font-weight: bold;
}


.footer a:hover,
.click-to-play a:hover {
    color: #5c415d;
}

input[type='number'],
input[type='text'] {
    height: 25px;
}

.radio label {
    display: inline;
    padding-left: 5px;
}

caption {
    font-weight: bold;
    color: #1f1f1f;
}
