{% extends "base.html" %}

{%  block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            [playername], your last diceroll is:
        </p>
        <table>
            <thead>
                <tr>
                    <td>Tick the box</td> # todo: wygląd tabeli
                    <td>Name</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Sum</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>{{ form.aces }}</td>
                    <td>{{ form.aces.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.twos }}</td>
                    <td>{{ form.twos.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.threes }}</td>
                    <td>{{ form.threes.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.fours }}</td>
                    <td>{{ form.fours.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.fives }}</td>
                    <td>{{ form.fives.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.sixes }}</td>
                    <td>{{ form.sixes.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.three_of_a_kind }}</td>
                    <td>{{ form.three_of_a_kind.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.four_of_a_kind }}</td>
                    <td>{{ form.four_of_a_kind.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.full_house }}</td>
                    <td>{{ form.full_house.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.small_straight }}</td>
                    <td>{{ form.small_straight.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.large_straight }}</td>
                    <td>{{ form.large_straight.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.yahtzee }}</td>
                    <td>{{ form.yahtzee.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
                <tr>
                    <td>{{ form.chance }}</td>
                    <td>{{ form.chance.label }}</td>
                    <td>How counted</td>
                    <td>Your result</td>
                </tr>
            </tbody>
        </table>


        <p>
            {{ form.submit_the_box() }}
        </p>
        <p>
            {{ form.submit_next_player() }}

        </p>

    </form>

{% endblock %}
