{% extends "base.html" %}

{%  block content %}
    <h1>{{ title }}</h1>
        <p>
            {{ player_name }}, your last diceroll is: {{ last_diceroll }}
        </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <table>
            <thead>
                <tr>
                    <td class="hide_me">Select</td>
                    <td>Name</td>
                    <td>Combination</td>
                    <td>Points</td>
                    <td>Result</td>
                </tr>
            </thead>
            <tfoot>
                <tr class="foot">
                    <td class="foot hide_me"></td>
                    <td class="foot"></td>
                    <td class="foot cat-descrisum(choices.result())ption"></td>
                    <td class="foot total cat-description">Total:</td>
                    <td>{{ total }}</td>
                </tr>
            </tfoot>
            <tbody>
                {% for radio in choices %}
                    <tr>
                        {% if hasattr(radio, 'result') %}
                            <td></td>
                        {% else %}
                            <td>{{ radio }}</td>
                        {% endif %}
                        <td>{{ radio.label }}</td>
                        <td>{{ radio.description }}</td>
                        <td>{{ radio.description1 }}</td>
                        <td>{{ radio.result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <span> {{ form.submit_the_box() }} </span>
        </p>
    </form>
    <div class="footer">
        Do you want to:
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=0)}}">...end the game now and see the results?</a>
        </span>
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=1) }}">...suspend the game?</a>
        </span>
    </div>
{% endblock %}
