{% extends "base.html" %}

{%  block content %}
    <div class="to-right">{{ player_name }} playing </div>
    {% if turn < 4 %}
        <h1>Throw the dice</h1>
    {% elif turn == 4 %}
        <h1>All the dice</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if turn > 1 %}
            <h2>Diceroll 1:</h2>
            <p class="dice-result">
                {% for dice in dices[0] %} {# todo: chyba mozna tu uzyc context variable zamiast przesylac tu dices #}
                     <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 2 %}
            <h2>Diceroll 2:</h2>
            <p class="dice-result">
                {% for dice in dices[1] %}
                    <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 3 %}
            <h2>Diceroll 3:</h2>
            <p class="dice-result">
                {% for dice in dices[2] %}
                     <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        <p>
            {% if turn == 1 %}
            <p>
            Computer is ready and steady. Its first step was to sit in front of itself...
            </p>
            {% endif %}
            {{ form.comp_next_step() }}
        </p>
    </form>

    <div class="footer">
        Do you want to:
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=0)}}">...end the game now and see the results?</a>
        </span>
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=1) }}">...suspend the game?</a>
        </span>
    </div>

{% endblock %}
