{% extends "base.html" %}

{%  block content %}
    {% if turn < 4 %}
        <h1>Throw the dices</h1>
    {% elif turn == 4 %}
        <h1>All the dices</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if turn > 1 %}
            <h2>Thrown dices:</h2>
            <h3>Diceroll 1:</h3>
            <p class="dice-result">
                {% for dice in dices[0] %}
                     <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 2 %}
            <h3>Diceroll 2:</h3>
            <p class="dice-result">
                {% for dice in dices[1] %}
                    <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 3 %}
            <h3>Diceroll 3:</h3>
            <p class="dice-result">
                {% for dice in dices[2] %}
                     <span class="dice">Dice {{loop.index}}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        <p>
            {% if turn == 1 %}
            <p>
            Computer is ready and steady. Its first step was to sit in front of itself...
            </p>
            {% endif %}
            {{ form.comp_next_step() }}
        </p>
    </form>
{% endblock %}
