{% extends "base.html" %}

{%  block content %}
    <h1>{{ title }}</h1>
    <table>
    {% if not suspend %}
        <caption>Here are some results:</caption>
        <thead>
            <tr>
                <th>Player name</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in gameresults_dict.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>...but only for now! You can come back and finish your game later!</p>
        <p><a href="{{ url_for('suspended_games') }}">Your suspended games</a></p>
    {% endif %}

    <p class="click-to-play">New Game? <a href="{{ url_for('newgame') }}">Click to Play!</a></p>

{% endblock %}
