{% extends "base.html" %}

{%  block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
            {{ form.human_players.label }}
            {{ form.human_players(size=2)}}
            {% for error in form.human_players.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        </p>
            {{ form.computer_players.label }}
            {{ form.computer_players(size=2)}}
            {% for error in form.computer_players.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}
