{% extends "base.html" %}

{%  block content %}
    <h1>Game details</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <h2>Players Names</h2>
            {% for player in form.players %}
                <p>
                    Name {{loop.index}}: {{ player }}
                </p>
            {% endfor %}
        </p>
    {% if cplayers_no %}
        <p>
            <h2>Computer Players Level</h2>
            {% for subfield in form.computer_ai %}
               <span class="radio"> {{ subfield }} {{ subfield.label }} </span>
            {% endfor %}
        </p>
    {% endif %}
        <p>
            {{ form.throw() }}
        </p>
    </form>
{% endblock %}
