{% extends "base.html" %}

{% block content %}
    <div id="text-to-right">{{ player_name }} playing </div>
    {% if turn < 4 %}
        <h1>Throw the dice</h1>
    {% elif turn == 4 %}
        <h1>All the dice</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if turn > 1 %}
            <h2>Diceroll 1:</h2>
            <p class="dice-result">
                {% for dice in dices[0] %}
                    <span class="dice">Dice {{ loop.index }}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 2 %}
            <h2>Diceroll 2:</h2>
            <p class="dice-result">
                {% for dice in dices[1] %}
                    <span class="dice">Dice {{ loop.index }}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn > 3 %}
            <h2>Diceroll 3:</h2>
            <p class="dice-result">
                {% for dice in dices[2] %}
                    <span class="dice">Dice {{ loop.index }}:</span> <span class="dice-number-result">{{ dice }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% if turn != 1 and turn < 4 %}
            <p class="select-dice">
                Select the dice you want to throw again:
            </p>
            <p>
                <span class="dice-choose">{{ form.dice1.description }}{{ form.dice1 }}</span>
                <span class="dice-choose">{{ form.dice2.description }}{{ form.dice2 }}</span>
                <span class="dice-choose">{{ form.dice3.description }}{{ form.dice3 }}</span>
                <span class="dice-choose">{{ form.dice4.description }}{{ form.dice4 }}</span>
                <span class="dice-choose">{{ form.dice5.description }}{{ form.dice5 }}</span>{{ form.throwNumber }}
            </p>
            <p>
                {{ form.dices }}
            </p>
            <p>
                {{ form.throw_sel() }}
            </p>
            <p>
                {{ form.keep() }}
            </p>
        {% endif %}
        {% if turn == 4 %}
            {{ form.cat_sel() }}
        {% endif %}
        {% if turn < 4 %}
            <p>
                {{ form.throw_all() }}
            </p>
        {% endif %}

        {% if turn != 1 and turn != 4%}
            <div>
                <button type="button" onclick="myFunction()">Show or hide my available categories</button>
            </div>

            <table id="my-results" style="display: none;" >
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Combination</td>
                        <td>Points</td>
                    </tr>
                </thead>
                <tbody>
                    {% for el in categories %}
                        <tr>
                            <td>{{ el['label'] }}</td>
                            <td>{{ el['description'] }}</td>
                            <td>{{ el['description1'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>


    <div class="footer">
        Do you want to:
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=0)}}">...end the game now and see the results?</a>
        </span>
        <span>
            <a href="{{ url_for('gameend', game_id=game_id, suspend=1) }}">...suspend the game?</a>
        </span>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById("my-results");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>

{% endblock %}
